body{
    background: linear-gradient(black,yellow);
}




.pokemon_container{
 
   
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dae2f8, #d6a4a4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dae2f8, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-wrap: wrap;
    
}
div{
  
  
   
  background: #ed4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed4264, #ffedbc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ed4264, #ffedbc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   justify-content: space-between;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-radius: 20px;
  text-align-last: auto;
}